body{
    margin: 0;
    background-image: linear-gradient(to right, #cabcab, #d1c7b8, #d8d2c6, #dfdcd4, #e8e7e2);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #b85c48;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-text{
    text-decoration: none;
    color: #cabcab;
    font-family: 'Gloock', serif;
    font-size: 17px;
}

.container-nav{
    display: flex;
}

.card-nav{
    padding: 15px 20px;
}

.no-point{
    list-style-type: none;
}

#nav-contacto{
    color: #80221E;
    background-color: #cabcab;
    padding: 10px 20px;
    border: 1px solid #cabcab;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 1100px){
    nav{
        display: none;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 100px 0px;
}

img{
    width: 50%;}

.img-presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-grow: 1;
}
.font-elder{
    font-family: 'Gloock', serif;
    font-size: 50px;
}
.container-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}
