*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, #cabcab, #d1c7b8, #d8d2c6, #dfdcd4, #e8e7e2);
    font-family: 'Montserrat', sans-serif;
}

/**/
.isflex{
    display: flex;
}
.container-header{
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #b85c48;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: sticky;
    top: 0;
    z-index: 5;
}
.card-nav{
    padding: 15px 20px;
}
.nav-text{
    font-weight: 500;
    font-size: 17px;
    color: #cabcab;
}
.no-decoration{
    text-decoration: none;
}
.no-point{
    list-style-type: none;
}
.text-link{
    color: #80221E;
    background-color: #cabcab;
    padding: 10px 20px;
    border: 1px solid #cabcab;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.nav-text:hover{
    color: #1d1258;
}
.text-link:hover {
    background-color: #cfc8c0;
}

/**/
.box-center{
    justify-content: center;
    align-items: center;
}
.container-main{
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.presentation{
    flex-direction: row;
    padding: 100px 0px;
}
.container-presentation{
    flex-direction: column;
    justify-content: center;
    padding-left: 10vh;
}
.presentation-card{
    padding: 15px 0px;
}
img{
    width: 70%;
}
.name-presentation{
    font-size: 40px;
}
.presentation-title{
    color: #1d1258;
    font-weight: 600;
}
.description-presentation{
    color: #b85c48;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 1100px){
    .container-header{
        display: none;
    }
    .container-presentation{
        padding-left: 10vh;
    }
}
@media (max-width:900px){
    .presentation{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding: 50px 0px;
    }
    .container-presentation{
        padding-left: 2vh;
    }
    .img-presentation{
        margin-top: 40px;
    }
}
@media (max-width:300px){
    .container-presentation{
        padding-left: 2vh;
    }
}

/**/

.container-conocimientos{
    width: 100%;
    background-color: #cabcab;
    box-shadow: rgba(197, 137, 81, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    flex-direction: column;
    padding: 100px 0px;
}
.section-title{
    color: #1d1258;
    font-weight: 600;
    font-size: 6vh;
    margin: 10px 0px;
}
.text-description{
    width: 30%;
    text-align: center;
    padding: 50px 0px;
    font-weight: 500;
    font-size: 15px;
    color:#342c62
}
.container-icons{
    width: 55%;
    flex-wrap: wrap;
}
.icon-card{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #edeceb;
    margin: 5px;
    padding-top: 15px;
    width: 32vh;
    height: 28vh;
    border-radius: 10px;
    border: 2px solid #cabcab;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color:#342c62;
}
.name-brand{
    font-size: 2.5vh;
    font-weight: 600;
}
.icon-card:hover{
    border: 2px solid #b85c48;
    color: #b85c48
}
.fa-conocimientos{
    font-size: 11vh;
}
.fa-html5{
    color: #e54d26;
}
.fa-css3-alt{
    color: #3d8fc6
}
.fa-sass{
    color: #ce6d9d;
}
.fa-square-js{
    color: #f0db4f
}
.fa-react{
    color: #96e6fc
}
.fa-git-alt{
    color: #f34f29
}
@media (max-width: 900px){
    .text-description{
        width: 80%;
    }
    .container-conocimientos{
        padding: 50px 0px;
    }
}
@media (max-width: 700px){
    .section-title{
        text-align: center;
        font-size: 4vh;
    }
}

/**/

.container-cita{
    padding: 60px 0px;
    background-color: #b85c48;
    width: 100%;
}
.box-cita{
    width: 60%;
    flex-direction: column;
    color:#d8d2c6;
}
.fa-quote-right{
    font-size: 15vh;
}
.box-cita p{
    font-size: 20px;
    padding: 30px 0px;
    text-align: center;
}
.box-cita h3{
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 30px;
}
/**/

.container-projects{
    flex-direction: column;
    padding: 100px 0px;
}
.cards-projects{
    width: 80%;  
    flex-wrap: wrap;
}
.container-project{
    width: 40vh;
    height: 40vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #edeceb;
    margin: 10px;
    border: 1px solid #cabcab;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #342c62;
}
.img-projects{
    text-align: center;
    width: 80%;
    height: 50%
}
.img-projects img{
    height: 100%;
} 
.project-title{
    font-size: 2.5vh;
    font-weight: 600;
}
.container-project:hover{
    border: 2px solid #b85c48;
    color: #b85c48
}

/**/

.container-contacto{
    background-color:#b89885;
    width: 100%;
    padding: 100px 0px;
    justify-content: center;
    align-items: center
}
.container-contacto-form{
    background-color: #cabcab;
    border: 2px solid #80221E;
    border-radius: 30px;
    width: 80%;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
}
.card{
    width: 50%;
}
.subtitle-contacto{
    width: 80%;
    text-align: left;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 15px;
    color:#342c62
}
.contacto-list{
    padding: 5px 0px;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    width: 65%;
    border-radius: 30px;
    border:2px solid transparent
}
.fa-contacto{
    margin-left: 10px;
    background-color:#1d1258;
    color:#cabcab;
    border: 2px solid transparent;
    padding: 12px;
    border-radius: 100%;
    font-size: 15px;
}
.link-contacto-text{
    color: #1d1258;
}
.link-contacto-text:hover .fa-contacto{
    color: #b85c48;
    background-color: #cabcab;
    border: 2px solid #b85c48
}

.link-contacto-text:hover{
    color: #b85c48;
}

.contacto-list:active{
    border: 2px solid #342c62
}
@media(max-width: 1100px){
    .container-contacto-form{
        flex-direction: column;
    }
    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }
    .contacto-list{
        width: 100%;
    }
    .subtitle-contacto{
        text-align: center
    }
}
/**/

.container-footer{
    background-color: #80221E;
    flex-direction: column;
    padding: 25px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.nav-text-footer{
    font-weight: 500;
    font-size: 17px;
    color: #cabcab;
}
.card-media{
    margin: 0px 20px;
    background-color: #d4b4a1;
    color: #1d1258;
    border: 1.5px solid transparent;
    padding: 15px 17px;
    border-radius: 100%;
    font-size: 20px;
}
.signature{
    color: #cabcab;
    text-align: center;
    font-size: 15px;
    padding-top: 20px
}
.container-social-media{
    padding: 20px 0px;
    margin: 0;
}
.card-media:hover{
    background-color: #80221E;
    color: #d4b4a1;
    border: 1.5px solid #d4b4a1
}
@media (max-width:700px){
    .card-nav{
        display: none;
    }
}
@media (max-width:300px){
    .card-media{
        margin: 0px 10px;
    }
}

/**/

.complete-name-surname{
    width: 100%;
}
.complete-user{
    width: 90%;
}
.complete-user-textarea{
    width: 100%;
}
input{
    width: 90%;
    min-height: 40px;
    margin: 15px 0px;
    background-color: #e7e6e3;
    border: 1px solid #b89885;
    border-radius: 20px;
    padding: 0px 10px;
}

.input-email{
    width: 95%;
}
textarea{
    width: 95%;
    height: 80px;
    padding: 10px;
    margin: 15px 0px;
    background-color: #e7e6e3;
    border: 1px solid #b89885;
    border-radius: 10px;
}

input[type="submit"] {
    width: 100px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}