body{
    margin: 0;
    background-image: linear-gradient(to right, #cabcab, #d1c7b8, #d8d2c6, #dfdcd4, #e8e7e2);
}

header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #b85c48;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-text{
    font-family: 'Gloock', serif;
    font-size: 17px;
    color: #cabcab;
}

.no-decoration{
    text-decoration: none;
}

.container-nav{
    display: flex;
}

.card-nav{
    padding: 15px 20px;
}

.no-point{
    list-style-type: none;
}

#nav-bottom{
    color: #80221E;
    background-color: #cabcab;
    padding: 10px 20px;
    border: 1px solid #cabcab;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 1100px){
    nav{
        display: none;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.presentation{
    display: flex;
    flex-direction: row;
    padding: 100px 0px;
}

@media (max-width:900px){
    .presentation{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0px;
    }
    .img-presentation{
        margin-top: 40px;
    }
}

img{
    width: 70%;
}

.img-presentation{
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-presentation{
    font-family: 'Gloock', serif;
    font-size: 60px;
}

.container-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10vh;
}

.font-blue{
    color: #1d1258;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: 600;
}

.description-presentation{
    color: #b85c48;
    font-weight:600;
    font-size: 20px;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: 600;
}

footer{
    background-color: #80221E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.container-footer{
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-media{
    display: flex;
    justify-content: center;
    padding: 0
}

.card-media{
    margin: 0px 20px;
    background-color: #d4b4a1;
    color: #1d1258;
    padding: 15px 17px;
    border-radius: 60%;
    font-size: 20px;
}

.signature{
    color: #cabcab;
    text-align: center;
    font-size: 15px;
    font-family: 'Shippori Mincho B1', serif;
}

.center{
    padding: 20px 0px;
    margin: 0;
}

.container-cards{
    width: 100%;
    background-color: #cabcab;
    box-shadow: rgba(197, 137, 81, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
}

#font-subtitle{
    font-family: 'Gloock', serif;
    font-size: 35px;
    padding: 0;
}

.container-cards-icons{
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edeceb;
    margin: 10px;
    padding-top: 15px;
    width: 32vh;
    height: 28vh;
    border-radius: 10px;
    border: 1px solid #cabcab;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.fa-brands{
    font-size: 10vh;
}

.fa-html5{
    color: #e54d26;
}

.fa-css3-alt{
    color: #3d8fc6
}

.fa-sass{
    color: #ce6d9d;
}

.fa-square-js{
    color: #f0db4f
}

.fa-react{
    color: #96e6fc
}

.fa-git-alt{
    color: #f34f29
}

